<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @relation.room_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @relation.user_id %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
