<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= raw sprintf(form.datetime_select( :start_time ,{:use_month_numbers  => true,
    minute_step: 10,
     date_separator: '%s',
     datetime_separator: '%s',
     time_separator: '%s'
    } , { class: 'date-select'} ),'年 ', '月 ', '日 ', '時 ') + '分'%>
  </div>


  <div class="field">
      <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :clone_id %>
    <%= form.number_field :clone_id %>
  </div>


  <% @rooms&.each do |room| %>
    <%= room.name %>
    <% if room.id == @user&.room_id then %>
      <%= check_box_tag 'room_ids[]', room.id, checked:true -%>
    <% else %>
      <%= check_box_tag 'room_ids[]', room.id -%>
    <% end %>
  <% end %>

  <p></p>
    <%= label_tag :sample, '毎週' -%>
    <% if !@clone_id.nil? then %>
      <%= check_box_tag :is_copy, @clone_id, checked:true-%>
    <% else %>
      <%= check_box_tag :is_copy,  @clone_id -%>
    <% end %>
 
  
 

  <div class="actions">
    <%= form.submit %>
  </div>  
<% end %>
