<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :clone_id %>
    <%= form.number_field :clone_id %>
  </div>


  <% @rooms.each do |room| %>
    <%= room.name %>
    <% if room.id == @room_id&.room_id then %>
      <%= check_box_tag 'room_ids[]', room.id, checked:true -%>
    <% else %>
      <%= check_box_tag 'room_ids[]', room.id -%>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>  
<% end %>
