<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @room.id %>
</p>

<p>
  <strong>Room name:</strong>
  <%= @room.name %>
</p>


<table border="1" >
  <thead>
    <tr>
      <th></th>
      <th>日付</th>
    </tr>
  </thead>
</table>


<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>長</th>
      <th>低</th>
      <th>高</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if user.start_time <= 16 %>
        <td>◯</td>
        <%else%>
         <td></td>
        <% end %>
         <% if user.start_time <= 17 && user.end_time >= 18 %>
        <td>◯</td>
        <%else%>
         <td></td>
        <% end %>
        <% if user.start_time <= 18 && user.end_time >= 19 %>
        <td>◯</td>
        <%else%>
         <td></td>
        <% end %>
        




        
        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>